@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');

* {
  margin: 10PX;
  padding: 2px;
}

.menu
{
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: auto;
}

ul li {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 50px;
  border 6px solid #F4A460;
  background-color: #DEB887;
}

body {
  font-family: 'Simonetta';
  background-image: url('https://st2.depositphotos.com/1040018/6445/i/450/depositphotos_64456795-stockafbeelding-houten-muur-achtergrond.jpg');
}

h1 {
  text-align: center;
}

h1.hallo {
  color: #20f5e3

}

h2 {
  text-align: center;
  border 6px solid #DEB887;
  background-color: #F4A460;
}

h3 {
  font-family: fantasy;
}

h3 {
  text-align: center;
  border 6px solid #DEB887;
  background-color: #F4A460;
}

table {
  text-align: center;
  border: 4px solid 	#DEB887;
  background-color: #F4A460;
  margin: auto;
  font-family: cursive;
}

th {
  border: 4px solid 	#DEB887;
  color: blue;
}

td {
  border: 4px solid 	#DEB887;
  max-width: 600px;
  color: blue;
}

h1 {
  margin: auto;
  border: 6px solid #F4A460;
  background-color: #DEB887;
}
h4 {
  margin: auto;
  text-align: center;
  border: 7px solid #DEB887;
  border-radius: 20px 3px 20px 10px;
  max-width: 600px
}

iframe {
  display: flex;
  justify-content: flex-start;
}

p {
  text-align: center;
  border: 2px solid #DEB887;
  background-color: #F4A460;
}

li:hover {
  font-size: 20px;
  background-color: blue;
}

table.rood {
  text-align: center;
  border: 4px solid 	#F4A460;
  background-color: #DEB887;
  margin: auto;
  font-family: cursive;
}

th.rood {
  border: 4px solid 	#F4A460;
}

td.rood {
  border: 4px solid 	#F4A460;
  max-width: 600px
}

ul a {
  text-decoration: none;
}

p.blue {
  text-align: center;
  color: blue;
  font-variant: normal;
  font-family: fantasy;
  font-style: italic;
  font-size: 25px;
}

p.orange {
  text-align: center;
  color: red;
  font-style: italic;
  font-family: monospace;
  font-size: 20px;
  margin: auto;
}

p.green {
  text-align: center;
  text-transform: capitalize;
  text-decoration-color: frameborder;
  text-shadow: blue;
  text-decoration: overline;
  color: green;
  font-family: sans-serif;
  font-style: italic;
  font-size: 15px;
  margin: 20%;
}

td.blauwp {
  border: 4px solid 	#63de12;
  max-width: 600px
  color: #63de12;
  padding-right: 54px;
  padding-left: 54px;
  padding-top: 0px;
  padding-bottom: 100px;
}

td.kaasp {
  border: 4px solid 	#210dd6;
  max-width: 600px;
  color: #210dd6;
  padding-bottom: 0px;
  padding-left: 54px;
  padding-right: 54px;
  padding-top:  100px;
}

td.groenp {
  border: 4px solid 	#d60da7;
  max-width: 600px;
  color: #d60da7;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 100px;
  padding-bottom: 0px;
}

td.pizzap {
  border: 4px solid 	#209e9c;
  max-width: 600px;
  color: #209e9c;
  padding-bottom: 100px;
  padding-top: 0px;
  padding-left: 23px;
  padding-right: 23px;
}

ol.ikben {
  color: #209e9c;
}

li.ikbenik {
  color: #209e9c;
  border: 4px solid   #F4A460;
  background: #DEB887;
  text-align: center;
}

td.appelp {
  border: 4px solid 	#f0e10e;
  max-width: 600px;
  color: #f0e10e;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 0px;
  padding-bottom: 100px;
}

td.applep {
  border: 4px solid 	#b50d15;
  max-width: 600px;
  color: #b50d15;
  padding-right: 54px;
  padding-left: 54px;
  padding-top: 100px;
  padding-bottom: 0px;
}

td.driep {
  border: 4px solid 	#355951;
  max-width: 600px;
  color: #355951;
  padding 120px;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 100px;
  padding-bottom: 0px;
}

td.vleesp {
  border: 4px solid   #4d8006;
  max-width: 600px;
  color: #4d8006;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 0px;
  padding-bottom: 100px;
}

li a:visited {
 background-color: red;
}

li.lijst {
color: #587a78;
}

td.Iphone {
  border: 10px solid   #618372;
  color: #355951;
  max-height: 40px;
  max-width: 600px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 30px;
  padding-top: 50px;
}

th.Iphone {
  border: 5px solid   #618372;
  color: #355951;
  margin-bottom: auto;
  padding-left: 5px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 70px;
}

td.blauw {
  border: 4px solid 	#63de12;
  max-width: 600px
  color: #63de12;
  padding-right: 54px;
  padding-left: 54px;
  padding-top: 54px;
  padding-bottom: 54px;
}

td.kaas {
  border: 4px solid 	#210dd6;
  max-width: 600px;
  color: #210dd6;
  padding-bottom: 54px;
  padding-left: 54px;
  padding-right: 54px;
  padding-top:  54px;
}

td.groen {
  border: 4px solid 	#d60da7;
  max-width: 600px;
  color: #d60da7;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 54px;
  padding-bottom: 54px;
}

td.pizza {
  border: 4px solid 	#209e9c;
  max-width: 600px;
  color: #209e9c;
  padding-bottom: 54px;
  padding-top: 54px;
  padding-left: 54px;
  padding-right: 54px;
}

td.appel {
  border: 4px solid 	#f0e10e;
  max-width: 600px;
  color: #f0e10e;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 54px;
  padding-bottom: 54px;
x}

td.apple {
  border: 4px solid 	#b50d15;
  max-width: 600px;
  color: #b50d15;
  padding-right: 54px;
  padding-left: 54px;
  padding-top: 54px;
  padding-bottom: 54px;
}

td.drie {
  border: 4px solid 	#355951;
  max-width: 600px;
  color: #355951;
  padding 120px;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 54px;
  padding-bottom: 54px;
}

td.vlees {
  border: 4px solid   #4d8006;
  max-width: 600px;
  color: #4d8006;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 54px;
  padding-bottom: 54px;
}

p.kat {
  background-color: #125701;
  color: #647837;
  border-radius: 500px;
}
